**/build
**/.idea/*
!.idea/externalDependencies.xml
!.idea/kotlinTestDataPluginTestDataPaths.xml
.gradle
.kotlin/
.iml
.project
.classpath
*.iml
local.properties
.DS_Store

gradle-plugin/docs/
docs/code-of-conduct.md
docs/contributing.md
docs/changelog.md
docs/samples.md
docs/api/
site/
temp-clone/
/benchmark/
.cache/
